@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Blinker", sans-serif;
  font-family: "Manrope", sans-serif;
}

code {
  font-family: "Blinker", sans-serif;
  font-family: "Manrope", sans-serif;
}
